<style>
         div#shopify-section-{{section.id}} {
           /* display:none; */
           /* position: absolute; */
           top: 105vh;
           left: 0;
           right: 0;
           z-index:9;
       }

             .marquee_wrapper_case_banner {
                 overflow: hidden;
                 text-wrap: nowrap;
                 position: relative;
                 background: #BC583A;
                 min-height: 50px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
             }
             .marquee_fixed_one_case_banner {
                 display: flex;
                 gap: 20rem;
                 justify-content: center;
                 min-width: 100%;
                 align-items: center;
                 position: absolute;
                 left: 100%;
                 animation:marquee_one 20s linear infinite;

             }
             .marquee_fixed_one_time {
                 display: flex;
                 gap: 15rem;
                 justify-content: flex-start;
                 align-items: center;
                 position: absolute;
                 left:0;
               opacity:1;
                 animation:marquee_one_time 20s linear forwards;
             }
               @keyframes marquee_one{
                to{
                   left:-100%;
                }
              }
               @keyframes marquee_one_time{
                to{
                   left:-200%;
                   opacity:0;
                }
              }
             span.marquee_elements-fixed_case_banner {
                  color: #fff;
                  text-align: center;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 350;
                  line-height: 42px;
                  letter-spacing: 6.8px;
                  display: flex;
                  align-items: center;
                  gap: 3rem;
         }
             .marquee_fixed_second_case_banner {
                 display: flex;
                 justify-content: center;
                 min-width: 100%;
                 gap: 20rem;
                 position: absolute;
                 left:100%;
               animation:marquee_second 20s linear infinite;
               animation-delay:10s;
             }
               @keyframes marquee_second{
                to{
                   left:-100%;
                }
              }
             @media (max-width:1024px){
             .marquee_wrapper_case_banner {
             min-height: 40px;
             }
           .marquee_fixed_one_time {
              display:none;
              }
              .marquee_fixed_one_case_banner {
                 display: flex;
                 gap: 5rem;
                 position: absolute;
                transform:translateX(50%);
                left:0%;
                 animation: marquee_one 30s linear infinite;
             }
                .marquee_fixed_second_case_banner {
                 display: flex;
                 gap: 5rem;
                 position: absolute;
                  transform:translateX(50%);
                  left:0%;
                 animation: marquee_second 30s linear infinite;
                 animation-delay: 15s;
             }
               span.marquee_elements-fixed_case_banner {
                  color: #fff;
                  text-align: center;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 350;
                  line-height: 42px;
                  letter-spacing: 6.8px;
                  display: flex;
                  align-items: center;
                  gap: 3rem;
                 white-space:nowrap;
             }
               @keyframes marquee_one{
                to{
                  transform:translateX(-170%)
                   /* left:-100%; */
                }
              }
               @keyframes marquee_second{
                to{
                  transform:translateX(-170%)
                   /* left:-100%; */
                }
              }
             }
     @media (min-width:2000px){
            div#shopify-section-{{section.id}} {
            top: 105vh!important;
       }
    }


     @media (min-width:501px) and (max-width:1024px){
  .marquee_fixed_one_case_banner {
      transform: translateX(100%);
  }
       .marquee_fixed_second_case_banner {
      transform: translateX(100%);
  }
    }
</style>
<div class="marquee_wrapper_case_banner">
  <div class="marquee_fixed_one_time">
    <span class="marquee_elements-fixed_case_banner">
      <svg xmlns="http://www.w3.org/2000/svg" width="31" height="25" viewBox="0 0 31 25" fill="none">
        <path d="M30.3255 1.27423C30.323 1.21224 30.3108 1.15031 30.2759 1.09386C30.2022 0.974919 30.0719 0.917335 29.9414 0.924409C29.9381 0.924477 29.9349 0.923867 29.9315 0.924025C29.9128 0.925562 29.8951 0.929087 29.8765 0.933585C29.8663 0.935754 29.856 0.935777 29.8458 0.938918L28.8003 1.2649C5.5486 8.51685 1.44849 9.7365 1.10468 9.80774C0.956764 9.82473 0.831218 9.93014 0.790812 10.0768C0.746438 10.2371 0.814262 10.4076 0.956764 10.4931L4.12573 12.3989C4.30107 12.5045 4.52799 12.4474 4.63261 12.272C4.73759 12.0966 4.68095 11.8692 4.50598 11.764L2.07297 10.3008C3.91669 9.7615 9.57366 8.03475 27.3037 2.50708L17.5112 8.59911C17.3377 8.70686 17.2847 8.93521 17.3922 9.10896C17.4622 9.22196 17.5827 9.28397 17.7064 9.28397C17.7728 9.28397 17.8403 9.26607 17.9009 9.22828L29.1902 2.20504L21.6406 20.7801L16.4823 18.3061C16.4823 18.3061 16.4822 18.3061 16.4822 18.3061C16.4821 18.306 16.4821 18.306 16.482 18.3059L13.9799 17.108L26.8807 4.75229C27.0283 4.61091 27.0337 4.37659 26.8926 4.2287C26.7519 4.08099 26.5181 4.07539 26.3706 4.21677L13.0828 16.9431C13.0809 16.9449 13.0804 16.9474 13.0785 16.9493C13.0637 16.964 13.0551 16.9834 13.0429 17.0005C13.0258 17.0246 13.0072 17.0475 12.9966 17.0742C12.9953 17.0774 12.9924 17.0796 12.9912 17.0828L12.3191 18.9111C12.2487 19.1029 12.3465 19.3159 12.5381 19.3865C12.73 19.4571 12.9418 19.3592 13.0125 19.1671L13.5443 17.7201L15.6933 18.7489L11.6827 22.7848L11.9948 21.9356C12.0651 21.7438 11.9673 21.5308 11.7758 21.4601C11.5853 21.39 11.3724 21.4878 11.3014 21.6796L10.8334 22.9529L8.95486 14.7937L16.3813 10.1737C16.5549 10.0659 16.6079 9.83757 16.5004 9.66382C16.3925 9.49008 16.1652 9.43602 15.9917 9.5445L8.53213 14.1852L6.38954 12.8967C6.21457 12.7914 5.98765 12.8484 5.88267 13.0236C5.77768 13.1989 5.83432 13.4264 6.00929 13.5316L8.21069 14.8554L10.3919 24.3294C10.3933 24.3355 10.3972 24.3401 10.3989 24.3461C10.4049 24.3672 10.4146 24.3863 10.4242 24.406C10.433 24.4242 10.4408 24.4424 10.4522 24.4586C10.4634 24.4744 10.4775 24.4874 10.4913 24.5015C10.5069 24.5175 10.5219 24.5332 10.54 24.5461C10.545 24.5496 10.548 24.5548 10.5531 24.5581C10.5688 24.5681 10.5862 24.5731 10.6028 24.5806C10.6151 24.5861 10.6264 24.5929 10.6393 24.5971C10.6755 24.6088 10.7126 24.6158 10.7498 24.616C10.7504 24.616 10.751 24.6163 10.7516 24.6163C10.7516 24.6163 10.7517 24.6163 10.7518 24.6163C10.7518 24.6163 10.7519 24.6163 10.7519 24.6163C10.7521 24.6163 10.7522 24.6162 10.7524 24.6162C10.7796 24.6161 10.8074 24.6131 10.8349 24.6069C10.8449 24.6046 10.8522 24.5977 10.8618 24.5946C10.8854 24.5872 10.9066 24.5764 10.9285 24.5643C10.9504 24.552 10.9708 24.5396 10.9895 24.5235C10.997 24.517 11.0067 24.5144 11.0138 24.5073L16.3999 19.0874L21.6752 21.6178C21.7254 21.642 21.7802 21.6541 21.8347 21.6541C21.8798 21.6541 21.9249 21.6458 21.9678 21.6292C22.0627 21.5925 22.1384 21.518 22.1767 21.4236L30.3004 1.43629C30.3037 1.42811 30.3027 1.41848 30.3055 1.40992C30.3165 1.37817 30.3218 1.34634 30.324 1.31272C30.3244 1.30596 30.3278 1.29941 30.3278 1.29274C30.3278 1.28634 30.3258 1.28053 30.3255 1.27423Z" fill="white"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29" fill="none">
        <path d="M28.6916 12.6128H20.1005L26.1783 6.53497L23.1273 3.49003L17.0495 9.56783V0.970703H12.7358V9.56783L6.65802 3.49003L3.61308 6.53497L9.69088 12.6128H1.09375V16.9264H9.69088L3.61308 23.0042L6.65802 26.0552L12.7358 19.9774V28.5685H17.0495V19.9774L23.1273 26.0552L26.1783 23.0042L20.1005 16.9264H28.6916V12.6128V12.6128Z" stroke="white" stroke-width="0.650892"/>
      </svg>
      DO NOT MISS THE BIG REVEAL</span
    >
    <span class="marquee_elements-fixed_case_banner">
      <svg xmlns="http://www.w3.org/2000/svg" width="31" height="25" viewBox="0 0 31 25" fill="none">
        <path d="M30.3255 1.27423C30.323 1.21224 30.3108 1.15031 30.2759 1.09386C30.2022 0.974919 30.0719 0.917335 29.9414 0.924409C29.9381 0.924477 29.9349 0.923867 29.9315 0.924025C29.9128 0.925562 29.8951 0.929087 29.8765 0.933585C29.8663 0.935754 29.856 0.935777 29.8458 0.938918L28.8003 1.2649C5.5486 8.51685 1.44849 9.7365 1.10468 9.80774C0.956764 9.82473 0.831218 9.93014 0.790812 10.0768C0.746438 10.2371 0.814262 10.4076 0.956764 10.4931L4.12573 12.3989C4.30107 12.5045 4.52799 12.4474 4.63261 12.272C4.73759 12.0966 4.68095 11.8692 4.50598 11.764L2.07297 10.3008C3.91669 9.7615 9.57366 8.03475 27.3037 2.50708L17.5112 8.59911C17.3377 8.70686 17.2847 8.93521 17.3922 9.10896C17.4622 9.22196 17.5827 9.28397 17.7064 9.28397C17.7728 9.28397 17.8403 9.26607 17.9009 9.22828L29.1902 2.20504L21.6406 20.7801L16.4823 18.3061C16.4823 18.3061 16.4822 18.3061 16.4822 18.3061C16.4821 18.306 16.4821 18.306 16.482 18.3059L13.9799 17.108L26.8807 4.75229C27.0283 4.61091 27.0337 4.37659 26.8926 4.2287C26.7519 4.08099 26.5181 4.07539 26.3706 4.21677L13.0828 16.9431C13.0809 16.9449 13.0804 16.9474 13.0785 16.9493C13.0637 16.964 13.0551 16.9834 13.0429 17.0005C13.0258 17.0246 13.0072 17.0475 12.9966 17.0742C12.9953 17.0774 12.9924 17.0796 12.9912 17.0828L12.3191 18.9111C12.2487 19.1029 12.3465 19.3159 12.5381 19.3865C12.73 19.4571 12.9418 19.3592 13.0125 19.1671L13.5443 17.7201L15.6933 18.7489L11.6827 22.7848L11.9948 21.9356C12.0651 21.7438 11.9673 21.5308 11.7758 21.4601C11.5853 21.39 11.3724 21.4878 11.3014 21.6796L10.8334 22.9529L8.95486 14.7937L16.3813 10.1737C16.5549 10.0659 16.6079 9.83757 16.5004 9.66382C16.3925 9.49008 16.1652 9.43602 15.9917 9.5445L8.53213 14.1852L6.38954 12.8967C6.21457 12.7914 5.98765 12.8484 5.88267 13.0236C5.77768 13.1989 5.83432 13.4264 6.00929 13.5316L8.21069 14.8554L10.3919 24.3294C10.3933 24.3355 10.3972 24.3401 10.3989 24.3461C10.4049 24.3672 10.4146 24.3863 10.4242 24.406C10.433 24.4242 10.4408 24.4424 10.4522 24.4586C10.4634 24.4744 10.4775 24.4874 10.4913 24.5015C10.5069 24.5175 10.5219 24.5332 10.54 24.5461C10.545 24.5496 10.548 24.5548 10.5531 24.5581C10.5688 24.5681 10.5862 24.5731 10.6028 24.5806C10.6151 24.5861 10.6264 24.5929 10.6393 24.5971C10.6755 24.6088 10.7126 24.6158 10.7498 24.616C10.7504 24.616 10.751 24.6163 10.7516 24.6163C10.7516 24.6163 10.7517 24.6163 10.7518 24.6163C10.7518 24.6163 10.7519 24.6163 10.7519 24.6163C10.7521 24.6163 10.7522 24.6162 10.7524 24.6162C10.7796 24.6161 10.8074 24.6131 10.8349 24.6069C10.8449 24.6046 10.8522 24.5977 10.8618 24.5946C10.8854 24.5872 10.9066 24.5764 10.9285 24.5643C10.9504 24.552 10.9708 24.5396 10.9895 24.5235C10.997 24.517 11.0067 24.5144 11.0138 24.5073L16.3999 19.0874L21.6752 21.6178C21.7254 21.642 21.7802 21.6541 21.8347 21.6541C21.8798 21.6541 21.9249 21.6458 21.9678 21.6292C22.0627 21.5925 22.1384 21.518 22.1767 21.4236L30.3004 1.43629C30.3037 1.42811 30.3027 1.41848 30.3055 1.40992C30.3165 1.37817 30.3218 1.34634 30.324 1.31272C30.3244 1.30596 30.3278 1.29941 30.3278 1.29274C30.3278 1.28634 30.3258 1.28053 30.3255 1.27423Z" fill="white"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29" fill="none">
        <path d="M28.6916 12.6128H20.1005L26.1783 6.53497L23.1273 3.49003L17.0495 9.56783V0.970703H12.7358V9.56783L6.65802 3.49003L3.61308 6.53497L9.69088 12.6128H1.09375V16.9264H9.69088L3.61308 23.0042L6.65802 26.0552L12.7358 19.9774V28.5685H17.0495V19.9774L23.1273 26.0552L26.1783 23.0042L20.1005 16.9264H28.6916V12.6128V12.6128Z" stroke="white" stroke-width="0.650892"/>
      </svg>
      DO NOT MISS THE BIG REVEAL</span
    >
  </div>
  <div class="marquee_fixed_one_case_banner">
    <span class="marquee_elements-fixed_case_banner">
      <svg xmlns="http://www.w3.org/2000/svg" width="31" height="25" viewBox="0 0 31 25" fill="none">
        <path d="M30.3255 1.27423C30.323 1.21224 30.3108 1.15031 30.2759 1.09386C30.2022 0.974919 30.0719 0.917335 29.9414 0.924409C29.9381 0.924477 29.9349 0.923867 29.9315 0.924025C29.9128 0.925562 29.8951 0.929087 29.8765 0.933585C29.8663 0.935754 29.856 0.935777 29.8458 0.938918L28.8003 1.2649C5.5486 8.51685 1.44849 9.7365 1.10468 9.80774C0.956764 9.82473 0.831218 9.93014 0.790812 10.0768C0.746438 10.2371 0.814262 10.4076 0.956764 10.4931L4.12573 12.3989C4.30107 12.5045 4.52799 12.4474 4.63261 12.272C4.73759 12.0966 4.68095 11.8692 4.50598 11.764L2.07297 10.3008C3.91669 9.7615 9.57366 8.03475 27.3037 2.50708L17.5112 8.59911C17.3377 8.70686 17.2847 8.93521 17.3922 9.10896C17.4622 9.22196 17.5827 9.28397 17.7064 9.28397C17.7728 9.28397 17.8403 9.26607 17.9009 9.22828L29.1902 2.20504L21.6406 20.7801L16.4823 18.3061C16.4823 18.3061 16.4822 18.3061 16.4822 18.3061C16.4821 18.306 16.4821 18.306 16.482 18.3059L13.9799 17.108L26.8807 4.75229C27.0283 4.61091 27.0337 4.37659 26.8926 4.2287C26.7519 4.08099 26.5181 4.07539 26.3706 4.21677L13.0828 16.9431C13.0809 16.9449 13.0804 16.9474 13.0785 16.9493C13.0637 16.964 13.0551 16.9834 13.0429 17.0005C13.0258 17.0246 13.0072 17.0475 12.9966 17.0742C12.9953 17.0774 12.9924 17.0796 12.9912 17.0828L12.3191 18.9111C12.2487 19.1029 12.3465 19.3159 12.5381 19.3865C12.73 19.4571 12.9418 19.3592 13.0125 19.1671L13.5443 17.7201L15.6933 18.7489L11.6827 22.7848L11.9948 21.9356C12.0651 21.7438 11.9673 21.5308 11.7758 21.4601C11.5853 21.39 11.3724 21.4878 11.3014 21.6796L10.8334 22.9529L8.95486 14.7937L16.3813 10.1737C16.5549 10.0659 16.6079 9.83757 16.5004 9.66382C16.3925 9.49008 16.1652 9.43602 15.9917 9.5445L8.53213 14.1852L6.38954 12.8967C6.21457 12.7914 5.98765 12.8484 5.88267 13.0236C5.77768 13.1989 5.83432 13.4264 6.00929 13.5316L8.21069 14.8554L10.3919 24.3294C10.3933 24.3355 10.3972 24.3401 10.3989 24.3461C10.4049 24.3672 10.4146 24.3863 10.4242 24.406C10.433 24.4242 10.4408 24.4424 10.4522 24.4586C10.4634 24.4744 10.4775 24.4874 10.4913 24.5015C10.5069 24.5175 10.5219 24.5332 10.54 24.5461C10.545 24.5496 10.548 24.5548 10.5531 24.5581C10.5688 24.5681 10.5862 24.5731 10.6028 24.5806C10.6151 24.5861 10.6264 24.5929 10.6393 24.5971C10.6755 24.6088 10.7126 24.6158 10.7498 24.616C10.7504 24.616 10.751 24.6163 10.7516 24.6163C10.7516 24.6163 10.7517 24.6163 10.7518 24.6163C10.7518 24.6163 10.7519 24.6163 10.7519 24.6163C10.7521 24.6163 10.7522 24.6162 10.7524 24.6162C10.7796 24.6161 10.8074 24.6131 10.8349 24.6069C10.8449 24.6046 10.8522 24.5977 10.8618 24.5946C10.8854 24.5872 10.9066 24.5764 10.9285 24.5643C10.9504 24.552 10.9708 24.5396 10.9895 24.5235C10.997 24.517 11.0067 24.5144 11.0138 24.5073L16.3999 19.0874L21.6752 21.6178C21.7254 21.642 21.7802 21.6541 21.8347 21.6541C21.8798 21.6541 21.9249 21.6458 21.9678 21.6292C22.0627 21.5925 22.1384 21.518 22.1767 21.4236L30.3004 1.43629C30.3037 1.42811 30.3027 1.41848 30.3055 1.40992C30.3165 1.37817 30.3218 1.34634 30.324 1.31272C30.3244 1.30596 30.3278 1.29941 30.3278 1.29274C30.3278 1.28634 30.3258 1.28053 30.3255 1.27423Z" fill="white"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29" fill="none">
        <path d="M28.6916 12.6128H20.1005L26.1783 6.53497L23.1273 3.49003L17.0495 9.56783V0.970703H12.7358V9.56783L6.65802 3.49003L3.61308 6.53497L9.69088 12.6128H1.09375V16.9264H9.69088L3.61308 23.0042L6.65802 26.0552L12.7358 19.9774V28.5685H17.0495V19.9774L23.1273 26.0552L26.1783 23.0042L20.1005 16.9264H28.6916V12.6128V12.6128Z" stroke="white" stroke-width="0.650892"/>
      </svg>
      DO NOT MISS THE BIG REVEAL</span
    >
    <span class="marquee_elements-fixed_case_banner">
      <svg xmlns="http://www.w3.org/2000/svg" width="31" height="25" viewBox="0 0 31 25" fill="none">
        <path d="M30.3255 1.27423C30.323 1.21224 30.3108 1.15031 30.2759 1.09386C30.2022 0.974919 30.0719 0.917335 29.9414 0.924409C29.9381 0.924477 29.9349 0.923867 29.9315 0.924025C29.9128 0.925562 29.8951 0.929087 29.8765 0.933585C29.8663 0.935754 29.856 0.935777 29.8458 0.938918L28.8003 1.2649C5.5486 8.51685 1.44849 9.7365 1.10468 9.80774C0.956764 9.82473 0.831218 9.93014 0.790812 10.0768C0.746438 10.2371 0.814262 10.4076 0.956764 10.4931L4.12573 12.3989C4.30107 12.5045 4.52799 12.4474 4.63261 12.272C4.73759 12.0966 4.68095 11.8692 4.50598 11.764L2.07297 10.3008C3.91669 9.7615 9.57366 8.03475 27.3037 2.50708L17.5112 8.59911C17.3377 8.70686 17.2847 8.93521 17.3922 9.10896C17.4622 9.22196 17.5827 9.28397 17.7064 9.28397C17.7728 9.28397 17.8403 9.26607 17.9009 9.22828L29.1902 2.20504L21.6406 20.7801L16.4823 18.3061C16.4823 18.3061 16.4822 18.3061 16.4822 18.3061C16.4821 18.306 16.4821 18.306 16.482 18.3059L13.9799 17.108L26.8807 4.75229C27.0283 4.61091 27.0337 4.37659 26.8926 4.2287C26.7519 4.08099 26.5181 4.07539 26.3706 4.21677L13.0828 16.9431C13.0809 16.9449 13.0804 16.9474 13.0785 16.9493C13.0637 16.964 13.0551 16.9834 13.0429 17.0005C13.0258 17.0246 13.0072 17.0475 12.9966 17.0742C12.9953 17.0774 12.9924 17.0796 12.9912 17.0828L12.3191 18.9111C12.2487 19.1029 12.3465 19.3159 12.5381 19.3865C12.73 19.4571 12.9418 19.3592 13.0125 19.1671L13.5443 17.7201L15.6933 18.7489L11.6827 22.7848L11.9948 21.9356C12.0651 21.7438 11.9673 21.5308 11.7758 21.4601C11.5853 21.39 11.3724 21.4878 11.3014 21.6796L10.8334 22.9529L8.95486 14.7937L16.3813 10.1737C16.5549 10.0659 16.6079 9.83757 16.5004 9.66382C16.3925 9.49008 16.1652 9.43602 15.9917 9.5445L8.53213 14.1852L6.38954 12.8967C6.21457 12.7914 5.98765 12.8484 5.88267 13.0236C5.77768 13.1989 5.83432 13.4264 6.00929 13.5316L8.21069 14.8554L10.3919 24.3294C10.3933 24.3355 10.3972 24.3401 10.3989 24.3461C10.4049 24.3672 10.4146 24.3863 10.4242 24.406C10.433 24.4242 10.4408 24.4424 10.4522 24.4586C10.4634 24.4744 10.4775 24.4874 10.4913 24.5015C10.5069 24.5175 10.5219 24.5332 10.54 24.5461C10.545 24.5496 10.548 24.5548 10.5531 24.5581C10.5688 24.5681 10.5862 24.5731 10.6028 24.5806C10.6151 24.5861 10.6264 24.5929 10.6393 24.5971C10.6755 24.6088 10.7126 24.6158 10.7498 24.616C10.7504 24.616 10.751 24.6163 10.7516 24.6163C10.7516 24.6163 10.7517 24.6163 10.7518 24.6163C10.7518 24.6163 10.7519 24.6163 10.7519 24.6163C10.7521 24.6163 10.7522 24.6162 10.7524 24.6162C10.7796 24.6161 10.8074 24.6131 10.8349 24.6069C10.8449 24.6046 10.8522 24.5977 10.8618 24.5946C10.8854 24.5872 10.9066 24.5764 10.9285 24.5643C10.9504 24.552 10.9708 24.5396 10.9895 24.5235C10.997 24.517 11.0067 24.5144 11.0138 24.5073L16.3999 19.0874L21.6752 21.6178C21.7254 21.642 21.7802 21.6541 21.8347 21.6541C21.8798 21.6541 21.9249 21.6458 21.9678 21.6292C22.0627 21.5925 22.1384 21.518 22.1767 21.4236L30.3004 1.43629C30.3037 1.42811 30.3027 1.41848 30.3055 1.40992C30.3165 1.37817 30.3218 1.34634 30.324 1.31272C30.3244 1.30596 30.3278 1.29941 30.3278 1.29274C30.3278 1.28634 30.3258 1.28053 30.3255 1.27423Z" fill="white"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29" fill="none">
        <path d="M28.6916 12.6128H20.1005L26.1783 6.53497L23.1273 3.49003L17.0495 9.56783V0.970703H12.7358V9.56783L6.65802 3.49003L3.61308 6.53497L9.69088 12.6128H1.09375V16.9264H9.69088L3.61308 23.0042L6.65802 26.0552L12.7358 19.9774V28.5685H17.0495V19.9774L23.1273 26.0552L26.1783 23.0042L20.1005 16.9264H28.6916V12.6128V12.6128Z" stroke="white" stroke-width="0.650892"/>
      </svg>
      DO NOT MISS THE BIG REVEAL</span
    >
  </div>
  <div class="marquee_fixed_second_case_banner">
    <span class="marquee_elements-fixed_case_banner">
      <svg xmlns="http://www.w3.org/2000/svg" width="31" height="25" viewBox="0 0 31 25" fill="none">
        <path d="M30.3255 1.27423C30.323 1.21224 30.3108 1.15031 30.2759 1.09386C30.2022 0.974919 30.0719 0.917335 29.9414 0.924409C29.9381 0.924477 29.9349 0.923867 29.9315 0.924025C29.9128 0.925562 29.8951 0.929087 29.8765 0.933585C29.8663 0.935754 29.856 0.935777 29.8458 0.938918L28.8003 1.2649C5.5486 8.51685 1.44849 9.7365 1.10468 9.80774C0.956764 9.82473 0.831218 9.93014 0.790812 10.0768C0.746438 10.2371 0.814262 10.4076 0.956764 10.4931L4.12573 12.3989C4.30107 12.5045 4.52799 12.4474 4.63261 12.272C4.73759 12.0966 4.68095 11.8692 4.50598 11.764L2.07297 10.3008C3.91669 9.7615 9.57366 8.03475 27.3037 2.50708L17.5112 8.59911C17.3377 8.70686 17.2847 8.93521 17.3922 9.10896C17.4622 9.22196 17.5827 9.28397 17.7064 9.28397C17.7728 9.28397 17.8403 9.26607 17.9009 9.22828L29.1902 2.20504L21.6406 20.7801L16.4823 18.3061C16.4823 18.3061 16.4822 18.3061 16.4822 18.3061C16.4821 18.306 16.4821 18.306 16.482 18.3059L13.9799 17.108L26.8807 4.75229C27.0283 4.61091 27.0337 4.37659 26.8926 4.2287C26.7519 4.08099 26.5181 4.07539 26.3706 4.21677L13.0828 16.9431C13.0809 16.9449 13.0804 16.9474 13.0785 16.9493C13.0637 16.964 13.0551 16.9834 13.0429 17.0005C13.0258 17.0246 13.0072 17.0475 12.9966 17.0742C12.9953 17.0774 12.9924 17.0796 12.9912 17.0828L12.3191 18.9111C12.2487 19.1029 12.3465 19.3159 12.5381 19.3865C12.73 19.4571 12.9418 19.3592 13.0125 19.1671L13.5443 17.7201L15.6933 18.7489L11.6827 22.7848L11.9948 21.9356C12.0651 21.7438 11.9673 21.5308 11.7758 21.4601C11.5853 21.39 11.3724 21.4878 11.3014 21.6796L10.8334 22.9529L8.95486 14.7937L16.3813 10.1737C16.5549 10.0659 16.6079 9.83757 16.5004 9.66382C16.3925 9.49008 16.1652 9.43602 15.9917 9.5445L8.53213 14.1852L6.38954 12.8967C6.21457 12.7914 5.98765 12.8484 5.88267 13.0236C5.77768 13.1989 5.83432 13.4264 6.00929 13.5316L8.21069 14.8554L10.3919 24.3294C10.3933 24.3355 10.3972 24.3401 10.3989 24.3461C10.4049 24.3672 10.4146 24.3863 10.4242 24.406C10.433 24.4242 10.4408 24.4424 10.4522 24.4586C10.4634 24.4744 10.4775 24.4874 10.4913 24.5015C10.5069 24.5175 10.5219 24.5332 10.54 24.5461C10.545 24.5496 10.548 24.5548 10.5531 24.5581C10.5688 24.5681 10.5862 24.5731 10.6028 24.5806C10.6151 24.5861 10.6264 24.5929 10.6393 24.5971C10.6755 24.6088 10.7126 24.6158 10.7498 24.616C10.7504 24.616 10.751 24.6163 10.7516 24.6163C10.7516 24.6163 10.7517 24.6163 10.7518 24.6163C10.7518 24.6163 10.7519 24.6163 10.7519 24.6163C10.7521 24.6163 10.7522 24.6162 10.7524 24.6162C10.7796 24.6161 10.8074 24.6131 10.8349 24.6069C10.8449 24.6046 10.8522 24.5977 10.8618 24.5946C10.8854 24.5872 10.9066 24.5764 10.9285 24.5643C10.9504 24.552 10.9708 24.5396 10.9895 24.5235C10.997 24.517 11.0067 24.5144 11.0138 24.5073L16.3999 19.0874L21.6752 21.6178C21.7254 21.642 21.7802 21.6541 21.8347 21.6541C21.8798 21.6541 21.9249 21.6458 21.9678 21.6292C22.0627 21.5925 22.1384 21.518 22.1767 21.4236L30.3004 1.43629C30.3037 1.42811 30.3027 1.41848 30.3055 1.40992C30.3165 1.37817 30.3218 1.34634 30.324 1.31272C30.3244 1.30596 30.3278 1.29941 30.3278 1.29274C30.3278 1.28634 30.3258 1.28053 30.3255 1.27423Z" fill="white"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29" fill="none">
        <path d="M28.6916 12.6128H20.1005L26.1783 6.53497L23.1273 3.49003L17.0495 9.56783V0.970703H12.7358V9.56783L6.65802 3.49003L3.61308 6.53497L9.69088 12.6128H1.09375V16.9264H9.69088L3.61308 23.0042L6.65802 26.0552L12.7358 19.9774V28.5685H17.0495V19.9774L23.1273 26.0552L26.1783 23.0042L20.1005 16.9264H28.6916V12.6128V12.6128Z" stroke="white" stroke-width="0.650892"/>
      </svg>
      DO NOT MISS THE BIG REVEAL</span
    >
    <span class="marquee_elements-fixed_case_banner">
      <svg xmlns="http://www.w3.org/2000/svg" width="31" height="25" viewBox="0 0 31 25" fill="none">
        <path d="M30.3255 1.27423C30.323 1.21224 30.3108 1.15031 30.2759 1.09386C30.2022 0.974919 30.0719 0.917335 29.9414 0.924409C29.9381 0.924477 29.9349 0.923867 29.9315 0.924025C29.9128 0.925562 29.8951 0.929087 29.8765 0.933585C29.8663 0.935754 29.856 0.935777 29.8458 0.938918L28.8003 1.2649C5.5486 8.51685 1.44849 9.7365 1.10468 9.80774C0.956764 9.82473 0.831218 9.93014 0.790812 10.0768C0.746438 10.2371 0.814262 10.4076 0.956764 10.4931L4.12573 12.3989C4.30107 12.5045 4.52799 12.4474 4.63261 12.272C4.73759 12.0966 4.68095 11.8692 4.50598 11.764L2.07297 10.3008C3.91669 9.7615 9.57366 8.03475 27.3037 2.50708L17.5112 8.59911C17.3377 8.70686 17.2847 8.93521 17.3922 9.10896C17.4622 9.22196 17.5827 9.28397 17.7064 9.28397C17.7728 9.28397 17.8403 9.26607 17.9009 9.22828L29.1902 2.20504L21.6406 20.7801L16.4823 18.3061C16.4823 18.3061 16.4822 18.3061 16.4822 18.3061C16.4821 18.306 16.4821 18.306 16.482 18.3059L13.9799 17.108L26.8807 4.75229C27.0283 4.61091 27.0337 4.37659 26.8926 4.2287C26.7519 4.08099 26.5181 4.07539 26.3706 4.21677L13.0828 16.9431C13.0809 16.9449 13.0804 16.9474 13.0785 16.9493C13.0637 16.964 13.0551 16.9834 13.0429 17.0005C13.0258 17.0246 13.0072 17.0475 12.9966 17.0742C12.9953 17.0774 12.9924 17.0796 12.9912 17.0828L12.3191 18.9111C12.2487 19.1029 12.3465 19.3159 12.5381 19.3865C12.73 19.4571 12.9418 19.3592 13.0125 19.1671L13.5443 17.7201L15.6933 18.7489L11.6827 22.7848L11.9948 21.9356C12.0651 21.7438 11.9673 21.5308 11.7758 21.4601C11.5853 21.39 11.3724 21.4878 11.3014 21.6796L10.8334 22.9529L8.95486 14.7937L16.3813 10.1737C16.5549 10.0659 16.6079 9.83757 16.5004 9.66382C16.3925 9.49008 16.1652 9.43602 15.9917 9.5445L8.53213 14.1852L6.38954 12.8967C6.21457 12.7914 5.98765 12.8484 5.88267 13.0236C5.77768 13.1989 5.83432 13.4264 6.00929 13.5316L8.21069 14.8554L10.3919 24.3294C10.3933 24.3355 10.3972 24.3401 10.3989 24.3461C10.4049 24.3672 10.4146 24.3863 10.4242 24.406C10.433 24.4242 10.4408 24.4424 10.4522 24.4586C10.4634 24.4744 10.4775 24.4874 10.4913 24.5015C10.5069 24.5175 10.5219 24.5332 10.54 24.5461C10.545 24.5496 10.548 24.5548 10.5531 24.5581C10.5688 24.5681 10.5862 24.5731 10.6028 24.5806C10.6151 24.5861 10.6264 24.5929 10.6393 24.5971C10.6755 24.6088 10.7126 24.6158 10.7498 24.616C10.7504 24.616 10.751 24.6163 10.7516 24.6163C10.7516 24.6163 10.7517 24.6163 10.7518 24.6163C10.7518 24.6163 10.7519 24.6163 10.7519 24.6163C10.7521 24.6163 10.7522 24.6162 10.7524 24.6162C10.7796 24.6161 10.8074 24.6131 10.8349 24.6069C10.8449 24.6046 10.8522 24.5977 10.8618 24.5946C10.8854 24.5872 10.9066 24.5764 10.9285 24.5643C10.9504 24.552 10.9708 24.5396 10.9895 24.5235C10.997 24.517 11.0067 24.5144 11.0138 24.5073L16.3999 19.0874L21.6752 21.6178C21.7254 21.642 21.7802 21.6541 21.8347 21.6541C21.8798 21.6541 21.9249 21.6458 21.9678 21.6292C22.0627 21.5925 22.1384 21.518 22.1767 21.4236L30.3004 1.43629C30.3037 1.42811 30.3027 1.41848 30.3055 1.40992C30.3165 1.37817 30.3218 1.34634 30.324 1.31272C30.3244 1.30596 30.3278 1.29941 30.3278 1.29274C30.3278 1.28634 30.3258 1.28053 30.3255 1.27423Z" fill="white"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29" fill="none">
        <path d="M28.6916 12.6128H20.1005L26.1783 6.53497L23.1273 3.49003L17.0495 9.56783V0.970703H12.7358V9.56783L6.65802 3.49003L3.61308 6.53497L9.69088 12.6128H1.09375V16.9264H9.69088L3.61308 23.0042L6.65802 26.0552L12.7358 19.9774V28.5685H17.0495V19.9774L23.1273 26.0552L26.1783 23.0042L20.1005 16.9264H28.6916V12.6128V12.6128Z" stroke="white" stroke-width="0.650892"/>
      </svg>
      DO NOT MISS THE BIG REVEAL</span
    >
  </div>
</div>
<script></script>

{% schema %}
{
  "name": "fixed_marquie_case_banner",
  "settings": [],
"presets": [
  {
    "name": "fixed_marquie_case_banner"
  }
]
}
{% endschema %}
