{{ 'main_case_page.css' | asset_url | stylesheet_tag }}
{{ 'main_case_page_responsive.css' | asset_url | stylesheet_tag }}
<!-- main case page section 4 and onwards till last section -->
<div class="main_case_sec_4_container">
  <img
    class="main_case_sec_4_desktop_image visible_in_desktop"
    src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Group_8s.png?v=1711461345"
  >
  <img
    class="main_case_sec_4_mobile_image visible_in_mobile"
    src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/9eafb5e314f3cdbb361c36d0ab058beas.png?v=1711461345"
  >

  <div class="main_case_sec_4_absolute_div">
    <div class="main_case_sec_4_top">
      <div class="white_dash_line"></div>
      <div class="white_tm_wrapper">
        <span class="sec4_big-brackets">[</span>
        <span class="sec4_tm_text visible_in_desktop"> TM</span>
        <span class="sec4_tm_text visible_in_mobile"> C</span>
        <span class="sec4_big-brackets">]</span>
      </div>
    </div>
    <div class="main_case_sec_4_between">
      <p class="main_case_sec_4_text">
        <span class="main_case_sec4_bracket">(</span>
        The Charcoal Case<br>
        brings a new

        perspective<br>
        to what a bag can be.

        It<br>
        advocates for a necessary<br>
        change from a focus on<br>
        brands and marketing to<br>
        an emphasis on the

        user’s<br>
        experience with the<br>
        product
        <span class="main_case_sec4_bracket">)</span>
      </p>
    </div>
    <div class="main_case_sec_4_bottom">
      <div class="white_dash_line"></div>
    </div>
  </div>
</div>

<div class="main_case_sec_5_container">
  <div class="main_case_sec_5_top">
    <div class="main_case_sec_5_inside_top_wrapper">
      <img
        class="main_case_sec_5_image"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Group_9s_1.png?v=1711622364"
      >
      <div class="sec_5_bolder_text">
        <span>DIAL</span>
        <span>INTO</span>
      </div>
      <div class="sec_5_small_text_desktop">
        <span class="a_new_exp">A</span>
        <span class="a_new_exp">NEW</span>
        <span class="a_new_exp">EXPERIENCE</span>
      </div>
      <div class="sec_5_small_text_mobile">
        <span class="a_new_exp">A NEW</span>
        <span class="a_new_exp">EXPERIENCE</span>
      </div>
      <div class="sec_5_boxes"></div>
      <div class="sec_5_boxes"></div>
      <div class="sec_5_boxes"></div>
      <div class="sec_5_boxes"></div>
    </div>
  </div>
  <div class="main_case_sec_5_bottom">
    <details class="main_case_sec_5_details_tag">
      <summary>
        <div class="main_case_sec_5_accordian">
          <div class="main_case_sec_5_imgae_wrapper" style="display:none">
            <img
              class="sec_5_icon"
              src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/the_dial.svg?v=1711633133"
            >
            <img
              class="sec_5_plus_button"
              src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Group_2_Copy_9.svg?v=1711633132"
            >
          </div>

          <img
            class="sec_5_icon"
            src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/the_dial.svg?v=1711633133"
          >
          <div class="sec_5_accord_text">
            The Impact of Caliberated breaks and sleep on cognitive performance : An EEG based Investigation
          </div>
          <img
            class="sec_5_plus_button"
            src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Group_2_Copy_9.svg?v=1711633132"
          >
        </div>
      </summary>
      <p style="MARGIN: 0;padding: 0 4rem; padding-bottom: 1rem;">content of first summary</p>
    </details>
    <details class="main_case_sec_5_details_tag">
      <summary>
        <div class="main_case_sec_5_accordian">
          <div class="main_case_sec_5_imgae_wrapper" style="display:none">
            <img
              class="sec_5_icon"
              src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/the_dial.svg?v=1711633133"
            >
            <img
              class="sec_5_plus_button"
              src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Group_2_Copy_9.svg?v=1711633132"
            >
          </div>

          <img
            class="sec_5_icon"
            src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/the_dial.svg?v=1711633133"
          >
          <div class="sec_5_accord_text">
            The Impact of Caliberated breaks and sleep on cognitive performance : An EEG based Investigation
          </div>
          <img
            class="sec_5_plus_button"
            src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Group_2_Copy_9.svg?v=1711633132"
          >
        </div>
      </summary>
      <p style="MARGIN: 0;padding: 0 4rem; padding-bottom: 1rem;">content of first summary</p>
    </details>
  </div>
</div>

<div class="main_case_sec_6_container">
  <div class="main_case_sec_6_desktop">
    <div class="main_case_sec_6_desktop_top">
      <div class="al-group">
        <div class="al-text"><span class="al">A</span><span class="al">L</span></div>
        <span class="same_styling_al_elements1">13</span><span class="same_styling_al_elements2">26.98</span
        ><span class="same_styling_al_elements3">GR: 6061T6</span>
      </div>
    </div>
    <div class="main_case_sec_6_desktop_bottom">
      <div class="sec_6_left_div"></div>
      <div class="sec_6_between_div">
        <p class="main_case_sec_6_text">
          <span class="main_case_sec6_bracket">(</span>
          The Charcoal Case<br>
          brings a new

          perspective<br>
          to what a bag can be.

          It<br>
          advocates for a necessary<br>
          change from a focus on<br>
          brands and marketing to<br>
          an emphasis on the

          user’s<br>
          experience with the<br>
          product
          <span class="main_case_sec6_bracket">)</span>
        </p>
        <p class="sec_6_bottom_text_p">
          <span>
            Award-winning design brought to<br>
            life with Italian Crystal-Acrylic top<br>
            and Danish motors and columns.</span
          >
          <span>
            Award-winning design brought to<br>
            life with Italian Crystal-Acrylic top<br>
            and Danish motors and columns.</span
          >
        </p>
      </div>
      <div class="sec_6_right_div">
        <div class="sec_6_square_box" style="display:block"></div>
        <div class="sec_6_right_bottom_text">
          The Impact of Caliberated<br>
          breaks and sleep on cognitive<br>
          performance : An EEG based<br>
          Investigation
        </div>
      </div>
    </div>
  </div>
  <div class="main_case_sec_6_mobile">
    <div class="sec_6_div1">
      <p class="main_case_sec_6_text">
        <span class="main_case_sec6_bracket">(</span>
        The Charcoal Case<br>
        brings a new

        perspective<br>
        to what a bag can be.

        It<br>
        advocates for a necessary<br>
        change from a focus on<br>
        brands and marketing to<br>
        an emphasis on the

        user’s<br>
        experience with the<br>
        product
        <span class="main_case_sec6_bracket">)</span>
      </p>
    </div>
    <div class="sec_6_div2" style="display:block"></div>
    <div class="sec_6_div3">
      <p>
        Award-winning design brought to<br>
        life with Italian Crystal-Acrylic top<br>
        and Danish motors and columns.
      </p>
      <p>
        Award-winning design brought to<br>
        life with Italian Crystal-Acrylic top<br>
        and Danish motors and columns.
      </p>
      <p>
        Award-winning design brought to<br>
        life with Italian Crystal-Acrylic top<br>
        and Danish motors and columns.
      </p>
    </div>
    <div class="sec_6_div4" style="display:block"></div>
    <div class="sec_6_right_bottom_text">
      The Impact of Caliberated<br>
      breaks and sleep on cognitive<br>
      performance : An EEG based<br>
      Investigation
    </div>
  </div>
</div>

<div class="main_case_7_container">
  <div class="sec_7_div1">
    <div class="small_square_boxes" style="display:block"></div>
    <div class="small_square_boxes" style="display:block"></div>
    <div class="small_square_boxes" style="display:block"></div>
    <div class="small_square_boxes" style="display:block"></div>
  </div>
  <div class="sec_7_div2">
    <img
      class="sec_7_image_messyStraps_desktop"
      src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_7_1.png?v=1712569493"
    >
    <img
      class="sec_7_image_messyStraps_mobile"
      src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_5_ceb53f05-4394-4020-b66a-664788442ddb.png?v=1712569521"
    >
    <div class="nomore_text_mobile" style="display:none">NO MORE</div>
    <h1 class="messystrap_text_mobile" style="display:none">
      MESSY<br>
      STRAPS
    </h1>
  </div>
  <div class="sec_7_div3">
    <div class="small_square_boxes" style="display:block"></div>
    <div class="small_square_boxes" style="display:block"></div>
  </div>
  <div class="sec_7_div4">
    <div class="sec_7_text_container">
      <div class="nomore_text">NO MORE</div>
      <img class="messy_desktop_handwritten" src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Image_19-04-24_at_12.49_PM.png?v=1715263826">
      <h1 class="messystrap_text">
        STRAPS
      </h1>
      <p class="messyStrap_paragraph first">
        Award-winning design brought to<br>
        life with Italian Crystal-Acrylic top<br>
        and Danish motors and columns.
      </p>
      <p class="messyStrap_paragraph second">
        Award-winning design brought to<br>
        life with Italian Crystal-Acrylic top<br>
        and Danish motors and columns.
      </p>
    </div>
  </div>
  <div class="sec_7_div5">
    <div class="small_square_boxes" style="display:block"></div>
    <div class="small_square_boxes" style="display:block"></div>
    <div class="small_square_boxes" style="display:block"></div>
    <div class="small_square_boxes" style="display:block"></div>
  </div>
</div>

<div class="main_case_sec_8_container">
  <div class="sec_8_div1">
    ( &nbsp;&nbsp;&nbsp; THERE &nbsp;&nbsp; &gt;&gt; WHEN&nbsp;<br>
    YOU NEED IT.&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; )
  </div>
  <div class="sec_8_div1_mobile" style="display:none">
    <div class="first_div_wraping_span">
      <span class="smallbracket">(</span>
      <span class="theretext">THERE</span>
      <span class="gt_sign">&gt;&gt;</span>
    </div>
    <span class="second_div_type">WHEN YOU NEED</span>
    <div class="first_div_wraping_span"><SPAN class="it_text_dot">IT.</SPAN><span class="closebracket">)</span></div>
  </div>
  <div class="sec_8_div2">
    <img
      class="sec_8_desktop_image"
      src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_6.png?v=1712569493"
    >
    <img
      class="sec_8_mobile_image"
      src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_4_3e79ed2c-bdfe-4f18-be44-685b375de6c2.png?v=1712569521"
    >
    <p class="numberFour">04</p>
  </div>
  <div class="sec_8_div3">
    <div class="top_div_sec_8">
      <div class="sec_8_wrapper_div">
        <span class="thin_signs sort_of_red">//</span>
        <span class="thicker_text">GONE</span>
      </div>
      <div class="sec_8_wrapper_div">
        <span class="thin_signs"> &lt;&lt;</span>
        <span class="thicker_text">WHEN</span>
      </div>
    </div>
    <div class="bottom_div_sec_8">
      <span class="youdont_text">YOU</span><span class="youdont_text">DON'T</span><span class="blackdot">.</span>
    </div>
  </div>
  <div class="sec_8_div3_mobile">
    <div class="gonetext"><span class="signmobile">//</span><span class="gonemob">GONE</span></div>
    <div class="whenyoutextmob"><span style="font-weight:300;padding-right: 1.5rem;">&lt;&lt;</span>WHEN YOU</div>
    <div class="donttextmob">DON'T.</div>
  </div>
  <div class="sec_8_div4">
    ( &nbsp;&nbsp;&nbsp;&nbsp; The Charcoal Case brings a new<br>
    perspective to what a bag can be. It<br>
    advocates for a necessary change<br>
    from a focus on brands and marketing<br>
    to an emphasis on the user’s<br>
    experience with the product&nbsp;&nbsp;&nbsp;&nbsp; )
  </div>
</div>

<div class="main_case_sec_9_container">
  <div class="imageandtextdivwrapper">
    <div class="thetext_div">
      <p class="sec_9_para">
        Can you imagine switching back to wired<br>
        earphones after your AirPods?
      </p>
      <div class="top_text_sec_9">
        <div class="span1_wrapper">
          <span class="first_text">WE'LL</span>
          <SPAN CLASS="hor_small_line"></SPAN>
          <span class="getYouText">GET YOU</span>
        </div>
        <div class="span2_wrapper">
          <span class="getYouText">THERE</span>
          <span class="first_text">WITH</span>
        </div>
        <SPAN CLASS="first_text">STRAPS</SPAN>
      </div>
      <p class="bottom_text_sec_9">
        Write all the stuff that<br>
        makes the strap comfortable<br>
        and cool. noiseless. smooth.<br>
        easy. comfortable.
      </p>
    </div>
    <div class="the_image_wraper_div">
      <img
        class="sec_9_image"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_5_566b573a-2420-4fec-a6c9-43e52e37afdf.png?v=1712569493"
      >
    </div>
  </div>
  <div class="sec_9_wrapper_div_mobile">
    <p class="sec_9_first_text">
      Can you imagine switching back to<br>
      wired earphones after your AirPods?
    </p>
    <img
      class="mobile_image_sec_9"
      src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_5_566b573a-2420-4fec-a6c9-43e52e37afdf.png?v=1712569493"
    >
    <div class="top_text_sec_9">
      <div class="span1_wrapper">
        <span class="first_text">WE'LL</span>
        <span class="hor_small_line"></span>
        <span class="getYouText">GET</span>
      </div>
      <div class="span2_wrapper">
        <span class="getYouText">YOU</span>
        <span class="getYouText">THERE</span>
      </div>
      <span class="first_text">WITH STRAPS</span>
    </div>
    <p class="sec_9_first_text">
      Write all the stuff that makes<br>
      the strap comfortable and<br>
      cool. noiseless. smooth. easy.<br>
      comfortable.
    </p>
  </div>
</div>

<div class="main_casee_sec_10_container">
  <div class="sec-10_image_text_wrap">
    <img
      class="sec_10_vertical_image"
      src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_4_775ef088-f6d9-45af-b526-af1380ebe8a2.png?v=1712569489"
    >
    <p class="sec_10_text">
      ( The Charcoal Case brings a new perspective to what a bag can be. It<br>
      advocates for a necessary change from a focus on brands and marketing to<br>
      an emphasis on the user’s experience with the product )
    </p>
  </div>
  <div class="sec_10_right_div_wrapper">
    <div class="sec_10_top_div">
      <div
        class="dark_light_text_wrap"
        style=""
      >
        <div class="extwrap">
          <span class="dark_text_sec10">COPY FOR FORM</span><br>
          <span class="sec10_t3">PICK GOES HERE</span>
        </div>
        <span class="sec10_t1">6</span>
        <span class="sec10_t2">0</span>
      </div>
      <p class="sec_10_text_2">
        ( The Charcoal Case brings a new perspective to what a bag can be. It<br>
        advocates for a necessary change from a focus on brands and marketing to<br>
        an emphasis on the user’s experience with the product )
      </p>
    </div>
    <div class="sec_10_bottom_div">
      <div class="bottom_1">
        <div class="sec10_bottom_text">
          Write all the stuff that<br>
          makes the strap comfortable
        </div>
        <div class="image_and_number">
          <img
            class="bottom_image_sec10"
            src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_3_193ae859-8dac-4200-bd97-3a5dfbe63ee1.png?v=1712569491"
          >
          <span class="zero_six_one">06.1</span>
          <span class="zero_six_text">SILICON STRAP WITH STRETCH</span>
        </div>
      </div>
      <div class="bottom_1 bottom_2">
        <div class="sec10_bottom_text">
          Write all the stuff that<br>
          makes the strap comfortable
        </div>
        <div class="image_and_number">
          <img
            class="bottom_image_sec10"
            src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_2_800f8c05-1538-4e83-b98d-95f2d4d659c1.png?v=1712569465"
          >
          <span class="zero_six_one">06.2</span>
          <span class="zero_six_text">WEIGHT TRANSFER RATIO REDUCED</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main_case_sec_10_container_mobile">
  <div class="main_case_sec_10_mobile_div1">
    <p class="span_wrapper_sec10">
      <span class="dark_txt"
        >COPY FOR<br>
        FORM</span
      ><span class="light_txt"
        >PICK<br>
        GOES HERE</span
      >
    </p>
    <p class="sec_10_mobile_div1_text">
      ( The Charcoal Case brings a new<br>
      perspective to what a bag can be. It<br>
      advocates for a necessary change from a<br>
      focus on brands and marketing to an<br>
      emphasis on the user’s experience with the<br>
      product )
    </p>
  </div>
  <div class="main_case_sec_10_mobile_div2">
    <img
      class="sec10_image_mobile"
      src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_df421d88-4d8b-434b-ad72-111dfdc15157.png?v=1712569518"
    >
    <p class="sec_10_mobile_div2_text">
      ( The Charcoal Case brings a new<br>
      perspective to what a bag can be. It<br>
      advocates for a necessary change from a<br>
      focus on brands and marketing to an<br>
      emphasis on the user’s experience with the<br>
      product )
    </p>
    <div class="sixnumber_mob">06</div>
  </div>
  <div class="main_case_sec_10_mobile_div3">
    <div class="sec_10_bottom_div">
      <div class="bottom_1">
        <div class="sec10_bottom_text">
          Write all the stuff that<br>
          makes the strap comfortable
        </div>
        <div class="image_and_number">
          <img
            class="bottom_image_sec10"
            src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_3_193ae859-8dac-4200-bd97-3a5dfbe63ee1.png?v=1712569491"
          >
          <span class="zero_six_one">06.1</span>
          <span class="zero_six_text">SILICON STRAP WITH STRETCH</span>
        </div>
      </div>
      <div class="bottom_1 bottom_2">
        <div class="sec10_bottom_text">
          Write all the stuff that<br>
          makes the strap comfortable
        </div>
        <div class="image_and_number">
          <img
            class="bottom_image_sec10"
            src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_2_800f8c05-1538-4e83-b98d-95f2d4d659c1.png?v=1712569465"
          >
          <span class="zero_six_one">06.2</span>
          <span class="zero_six_text">WEIGHT TRANSFER RATIO REDUCED</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main_case_sec11_container">
  <img
    class="sec11_big_image"
    src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Artboard_c067cec7-969a-4b1e-819f-bab20f98a480.png?v=1712569464"
  >
  <div class="machined_to_perfect_text_div">
    <div class="upper_div_sec11">
      <span class="four_arms"></span><span class="circle_sec11"></span><span class="commonstyle_se11txt">MACHINED</span>
      <span class="circle_sec11 after_machined"></span><span class="four_arms after_machined"></span>
    </div>
    <div class="bottom_div_sec11">
      <span class="commonstyle_se11txt">TO PERFECTION</span>
    </div>
  </div>
</div>
{% schema %}
{
"name": "main_case_sec_4_onwards",
"settings": [],
"presets": [
{
"name": "main_case_sec_4_onwards"
}
]
}
{% endschema %}
