<style>
marquee.marquee_section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    background: white;
}

</style>



<marquee class="marquee_section" direction="left" behavior="scroll" scrollamount="12">
  <span class="marquee_elements">
    REDACTED //
    DO NOT MISS THE REVEAL</span>
  <span class="marquee_elements">
   REDACTED //
    DO NOT MISS THE REVEAL</span>
  <span class="marquee_elements">
    REDACTED //
    DO NOT MISS THE REVEAL</span>
</marquee>


{% schema %}
  {
    "name": "marquiee",
    "settings": [],
  "presets": [
    {
      "name": "marquiee"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}