.deferred-media__poster {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: calc(var(--border-radius) - var(--border-width));
}

.media > .deferred-media__poster {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deferred-media__poster img {
  width: auto;
  max-width: 100%;
  height: 100%;
}

.deferred-media {
  overflow: hidden;
}

.deferred-media:not([loaded]) template {
  z-index: -1;
}

.deferred-media[loaded] > .deferred-media__poster {
  display: none;
}

.deferred-media__poster:focus-visible {
  outline: none;
  box-shadow: 0 0 0 var(--media-border-width) rgba(var(--color-foreground), var(--media-border-opacity)),
    0 0 0 calc(var(--media-border-width) + 0.3rem) rgb(var(--color-background)),
    0 0 0 calc(var(--media-border-width) + 0.5rem) rgba(var(--color-foreground), 0.5);
  border-radius: calc(var(--media-radius) - var(--media-border-width));
}

.deferred-media__poster:focus {
  outline: none;
  box-shadow: 0 0 0 var(--media-border-width) rgba(var(--color-foreground), var(--media-border-opacity)),
    0 0 0 calc(var(--media-border-width) + 0.3rem) rgb(var(--color-background)),
    0 0 0 calc(var(--media-border-width) + 0.5rem) rgba(var(--color-foreground), 0.5);
  border-radius: calc(var(--media-radius) - var(--media-border-width));
}

.global-media-settings--full-width .deferred-media__poster,
.global-media-settings--full-width .deferred-media__poster:is(:focus, :focus-visible) {
  border-radius: 0;
}

/* outline styling for Windows High Contrast Mode */
@media (forced-colors: active) {
  .deferred-media__poster:focus {
    outline: transparent solid 1px;
  }
}
.deferred-media__poster:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.deferred-media__poster-button {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.2rem;
  width: 6.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration-short) ease, color var(--duration-short) ease;
  z-index: 1;
}

.deferred-media__poster-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.deferred-media__poster-button .icon {
  width: 2rem;
  height: 2rem;
}

.deferred-media__poster-button .icon-play {
  margin-left: 0.2rem;
}

/* new css here only */
/* button.video-section__poster.media.deferred-media__poster{
width: 70%;
height: 600px;
}
.video-section__media.deferred-media{
display:flex;
justify-content:center;
} */
/* deferred-media>video {
    background: #000;
    width: 70%!important;
    height: 600px!important;
} */


/* new */
/* span.deferred-media__poster-button.motion-reduce {
    background-color: #D12E24 !important;
    border: 0.5px solid #0000009e !important;
   display: flex;
    justify-content: center;
    align-items: center;
}
  svg.embed_yt_video-svg {
    transform: translateX(10%);
}
@media (max-width:750px){
  button.video-section__poster.media.deferred-media__poster {
    width: 100%;
    height: 225px;
}
 */
  /* new */
/* span.deferred-media__poster-button.motion-reduce {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
  svg.embed_yt_video-svg {
    width: 10px;
    height: 10px;
    transform: translateX(25%);
}
  span.watch_the_prdt_video_text {
    font-family: MarkPro;
    position: absolute;
    color: #fff;
    top: 75% !important;
    height: 10% !important;
    font-size: 10px;
    letter-spacing: 7px;
    font-weight: 800;
}
}

 */
/* larger screens than 2000px */
      /* @media screen and (min-width: 2000px) {
              #shopify-section-template--16677130567818__video_rgz9Vh .color-background-1.gradient {
        margin-bottom: -30rem!important;
        margin-top: 20rem!important;
    }
        button.video-section__poster.media.deferred-media__poster {
    width: 70%;
    height: 1000px;
  }
        
} */


/* one top video styles modify */
a.video-section__poster.button.button--primary {
    display: none;
}
a.shop-now-button-down.button.button--primary {
    display: none;
}
body .deferred-media__poster-button:hover, body .deferred-media__poster-button {
    display: none!important;
    transform: translate(-50%, -10%) scale(1) !important;
}
span.new_section_video_span {
    height: 50px !important;
    width: 50px !important;
    position: absolute !important;
    background: #D12E24;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    padding-left: 4px;
}
span.watch_the_prdt_video_text {
    font-family: MarkPro;
    position: absolute;
    color: #fff;
    top: 60% !important;
    font-size: 28px;
    letter-spacing: 7px;
    font-weight: 800;
}
section.one-page-video div.color-background-1.gradient{
    position: relative;
    z-index: 99999999!important;
}

@media (max-width:750px){
span.watch_the_prdt_video_text {
    font-family: MarkPro;
    position: absolute;
    color: #fff;
    top: 65% !important;
    font-size: 20px;
    letter-spacing: 7px;
    font-weight: 800;
}
  br.visible_in_mobile_only{
 display:block!important;
}
#shopify-section-template--16677130567818__one_page_video_top_TDDmKW .product-vds-cover {
    position: relative;
    width: 100%;
    display: block !important;
    height: 225px!important;
}
}

